html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
    width: 95%;
}

.shadowzone {
    padding: 0px 100px 0px 100px;
    background: linear-gradient(200deg, #ebebeb, #ebebeb);
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-nav > li:hover .dropdown-menu{
    position: absolute;
    float: left;
    background: url("../images/fon_top_menu.png");
    display: block;
}

a:hover, a:focus {
    color: #ff5b23;
}

a {
    color: black;
}

.pagination > li > a, .pagination > li > span {
    color: black;
    background-color: #ff5b23;
}

.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
    background-color: #ff5b23;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 3;
    color: #ff5b23;
    background-color: black;
}

.coca_cola {
    border-width: 1px;
    border-color: red;
    border-style: solid;
    margin: 5px;
    background-color: #dca7a7;
}

.seven_up {
    border-width: 1px;
    border-color: mediumspringgreen;
    border-style: solid;
    margin: 5px;
    background-color: #93c3cd;
}

.pepsi {
    border-width: 1px;
    border-color: blue;
    border-style: solid;
    margin: 5px;
    background-color: #c5ddfc;
}

.sprite {
    border-width: 1px;
    border-color: #00aa00;
    border-style: solid;
    margin: 5px;
    background-color: #ddffdd;
}

.unvisible_input {
    display: none;
}

.my_width_ddm {
    min-width: 120px;
    left: -108px;
}

.btn-falcon:hover {
    color: #000000;
    background-color: #ffa756;
    border-color: #000000;
}

.btn-falcon {
    color: #ffffff;
    background-color: #ff5b23;
    border-color: #000000;
}

.search-form {
    display: none;
}

.my-text-decoration {
    color: #000000;
}

#modal-shadow-zone {
    position: absolute;
    width: 500px!important;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.minnesota-active {
    color: #ff5b23;
}

.minnesota-margin {
    margin-top: 20px;
}

.checkbox {
    position: relative;
    display: block;
    margin-top: -4px;
    margin-bottom: 5px;
}

#entrancereport-xxx {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
    max-height: 100px;
    flex-direction: column;
}

#entrancereport-type_documentation {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    max-height: 100px;
    flex-direction: column;
}

.minnesota-column-percent-48 {
    white-space: normal;
    width: 48.5%;
    min-width: 48.5%;
    max-width: 48.5%;
}

.minnesota-column-percent-37 {
    white-space: normal;
    width: 37.5%;
    min-width: 37.5%;
    max-width: 37.5%;
}

.minnesota-column-percent-24 {
    white-space: normal;
    width: 24%;
    min-width: 24%;
    max-width: 24%;
}

.minnesota-column-percent-220 {
    white-space: normal;
    width: 22%;
    min-width: 22%;
    max-width: 22%;
}

.minnesota-column-percent-22 {
    white-space: normal;
    width: 22.5%;
    min-width: 22.5%;
    max-width: 22.5%;
}

.minnesota-column-percent-18 {
    white-space: normal;
    width: 18%;
    min-width: 18%;
    max-width: 18%;
}

.minnesota-column-percent-8 {
    white-space: normal;
    width: 8.3%;
    min-width: 8.3%;
    max-width: 8.3%;
}

.minnesota-column-percent-7 {
    white-space: normal;
    width: 7%;
    min-width: 7%;
    max-width: 7%;
}

.minnesota-column-percent-4 {
    white-space: normal;
    width: 4%;
    min-width: 4%;
    max-width: 4%;
}

.minnesota-column-percent-3 {
    white-space: normal;
    width: 3%;
    min-width: 3%;
    max-width: 3%;
}

#minnesota-inspector-date-check {
    background: white;
}

table.detail-view th {
    width: 25%;
}

table.detail-view td {
    width: 75%;
}

.minnesota-excel-center {
    margin-top: 50px;
    margin-bottom: 50px;
}

.all-blacks {
    color: #212529 !important;
}